/**** Stylesheet for CSS demo ****/

/* ----- Box Sizing ----- */

html {
    box-sizing: border-box;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ----- Global Styles ----- */

/**********************************
    Font
        body: Smooch Sans, sans-serif

    Color Scheme 
        
        header.primary: #ffbaa3
        header.primary nav ul li a: #f55a00
**********************************/

body {
    font-family: 'Smooch Sans', sans-serif;
    margin: 0;
}

header.primary {
    background-color: #ffbaa3;
    text-align: center;
    color: #ffffff;
    padding: 40px;
    text-shadow: 1px 1px #000000;
}

header.primary h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
}

header.primary h2 {
    font-size: 1.3rem;
    margin: 20px auto 40px;
}

header.primary nav ul {
    /* This gets rid of the default padding for the list */
    padding: 0;
}

header.primary nav ul li {
    list-style-type: none;
}

header.primary nav ul li a {
    color: #ffffff;
    text-decoration: none;
    background-color: #f55a00;
    padding: 8px 16px;
    margin-bottom: 1rem;
    display: inline-block;
}

section, aside {
    padding: 0 1%;
}